.loader{
    // display: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5);

    .glow{
        width: 400px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // border: 1px solid white;
        animation: rotate 2s infinite linear;

        span{
            position: absolute;
            height: 20%;
            width: 1px;
            background-color: #0f4a3e;
            left: 50%;
            transform: translate(-50%, 50%);
            filter: drop-shadow(0 0 16px #03ebb8)  drop-shadow(0 0 32px #03ebb8) drop-shadow(0 0 32px #03ebb8)  drop-shadow(0 0 45px #00ffc8) drop-shadow(0 0 45px #00ffc8) ;
        }
    }

    .main-circle{
        width: 250px;
        height: 250px;
        svg{
            circle {
                fill: transparent;
                stroke: #0b1614;
                stroke-width: 1;
                stroke-dasharray: 0;
                stroke-dashoffset: 0;
              }
        }
    }

    .rotater{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        animation: rotate 2s infinite linear;

        .dot{
            position: absolute;
            display: block;
            width: 15px;
            height: 15px;
            left: 50%;
            transform: translate(-50%, -30%);
            z-index: 1;
            filter: drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 5px #03ebb8) drop-shadow(0 0 32px #03ebb8);
            border-radius: 50%;
            background-color: #aef8e8;
        }
        
        svg{
            filter: drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 5px #03ebb8) drop-shadow(0 0 16px #03ebb8);
           path{
               transform: translate(26.258px, 27.006px);
           }
        }
    }

    @keyframes rotate{
        0%{
            transform: translate(-50%, -50%) rotate(0);
        }
        25%{
            transform: translate(-50%, -50%) rotate(30deg);
        }
        30%{
            transform: translate(-50%, -50%) rotate(45deg);
        }
        65%{
            transform: translate(-50%, -50%) rotate(300deg);
        }
        70%{
            transform: translate(-50%, -50%) rotate(315deg);
        }
        100%{
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}    