.navbar{
    position: relative;
    z-index: 100;
    width: 100%;
    background: #0c1311;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #1a332c;

    .logo{
        p{
            font-family: 'Monoton', cursive;
            color: #b6e6d8;
            font-size: 25px;
            cursor: pointer;
            filter: drop-shadow(0 0 3px #00d3a5) drop-shadow(0 0 16px #03ebb8);
            transition: .4s;

            &:hover{
                filter: drop-shadow(0 0 3px #00d3a5) drop-shadow(0 0 16px #03ebb8) drop-shadow(0 0 16px #03ebb8);
            }
        }
    }

    .navs{
        ul{
            list-style: none;
            display: flex;

            li{
                position: relative;
                min-width: 120px;
                color: #556460;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                transition: .4s;
                

                svg{
                    position: absolute;

                    rect{
                        opacity: 0;
                        transform: translate(18px, 18px);
                        stroke-dasharray: 50;
                        stroke-dashoffset: 280;
                        transition: .8s ease-in-out;
                    }
                }

                &:hover{

                    color: #e1fff7;
                    filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 9px #00d3a5);
                    svg{
                        rect{
                            opacity: 1;
                            stroke-dasharray: 75;
                            stroke-dashoffset: 236;
                        }
                    }
                }
            }
        }
    }
}