.inf-loader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    &-inner{
        width: 500px;
        height: 500px;
        // border: 1px solid white;

        #infinity{
            stroke-dasharray: 48;
            stroke-dashoffset: 0;
            animation: inf infinite 4s linear;
            filter: drop-shadow(0 0 1px #00ffff) drop-shadow(0 0 1px #00ffff) drop-shadow(0 0 2px #00ffff) drop-shadow(0 0 3px #00ffff) drop-shadow(0 0 5px #00ffff);

            @keyframes inf{
                0%{
                    stroke-dashoffset: 0;
                }

                100%{
                    stroke-dashoffset: 96;
                }
            }
        }
    }
}