@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import './neon-ui.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

canvas{
    width: 720px !important;
    height: 450px !important;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c1311;
    text-align: center;
    overflow: hidden;

    .bg{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: .02;

        img{
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .login-container{
        position: relative;
        z-index: 1;
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        button{
            position: absolute;
            left: 50%;
            bottom: 105px;
            transform: translateX(-50%) scale(.7);
            transition: .3s;

            &:hover{
                transform: translateX(-50%) scale(.7) translateY(30%);

                ~svg{

                    #bottom-btn{
                        path{
                            &:first-child{
                                opacity: 1;
                            }
                            &:nth-child(2){
                                transform: translateY(2px);
                            }
                            &:last-child{
                                transform: translateY(2px);
                                stroke: #f7fffc;
                                stroke-width: .5px;
                                filter:  drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
                            }
                        }

                        ~#bottom-btn-side, ~#left-part-side, ~#right-part-side{
                            stroke-width: .5px;
                            filter:  drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
                        }
                        
    
                        ~#left-part{
                            path{
                                &:first-child{
                                    opacity: 1;
                                }
                                &:nth-child(2){
                                    transform: translateX(-3px);
                                }
                                &:last-child{
                                    transform: translateX(-3px);
                                    stroke: #f7fffc;
                                    stroke-width: .5px;
                                    filter:  drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
                                }
                            }
                        }
    
                        ~#right-part{
                            path{
                                &:first-child{
                                    opacity: 1;
                                }
                                &:nth-child(2){
                                    transform: translateX(3px);
                                }
                                &:last-child{
                                    transform: translateX(3px);
                                    stroke: #f7fffc;
                                    stroke-width: .5px;
                                    filter:  drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
                                }
                            }
                        }
                    }

                }
            }
        }

        &-inner{
            width: 500px;
            height: 500px;
        }

        #bottom-btn-side, #left-part-side, #right-part-side{
            transition: .3s;
            stroke-width: 0;
            stroke: #f7fffc;
        }

        #left-part-side, #right-part-side{
            transition: .3s .3s;
        }

        #left-part, #right-part{
            path{
                transition: .3s .3s;

                &:first-child{
                    stroke-width: 1px;
                }
                &:last-child{
                    stroke: #171f1c;
                    stroke-width: 1px;
                }
            }
        }

        #bottom-btn{
            path{
                
                transition: .3s;
                &:first-child{
                    stroke-width: 0;
                }
                &:last-child{
                    stroke: #171f1c;
                    stroke-width: 1px;
                }
            }
        }
    }
}

