@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    outline: none;
}

.main-container{

    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    .sample-slides{

        border: 1px solid black;
        height: 350px;
        width: 350px;
        position: relative;

        .slide{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

    }

    .modal{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: .2);
        font-size: 16px;

        &-inner{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 650px;
            background-color: #fafafa;

            &-header{
                display: flex;
                justify-content: flex-end;
                padding: 12px;
                background-color: #0c813d;

                i{
                    color: white;
                    cursor: pointer;
                }
            }

            &-content{
                min-height: 200px;
                position: relative;
                height: 0;

                .modal-slide-item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 20px;
                    >*{
                        margin: 10px 0;
                    }

                    .descriptor-search{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        input{
                            width: 80%;
                        }
                    }
                }
            }

            &-footer{
                display: flex;
                justify-content: space-between;
                padding: 12px;
                background-color: #dadada;
            }
        }
    }

    select, input{
        border: 1px solid #999999;
        padding: 8px 12px;
        font-size: 1.1em;
    }

    select{
        cursor: pointer;
        transition: .4s;
        &:hover{
            background-color: #eeeeee;
        }

        &:active{
            background-color: #dddddd;
        }
    }

    button{
        // margin: 10px;
        padding: 8px 12px;
        min-width: 80px;
        border: 1px solid #999999;
        cursor: pointer;
        background-color: white;
        transition: .2s;

        &:hover{
            background-color: #eeeeee;
        }

        &:active{
            background-color: #dddddd;
        }

        &.primary{
            background-color: #0c813d;
            border-color: #136b37;
            color: white;

            &:hover{
                background-color: #149248;
            }
    
            &:active{
                background-color: #056d30;
            }
        }
    }

}