my-slides{

    width: 100%;
    height: 100%;

    .my-slides{

        &-viewport{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        &-container{
            width: 200%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            align-items: center;
        }

        &-slide{

            height: 100%;
            width: 50%;
        }
    }

    &.slide-to-left{

        .my-slides-container{

            transition: .8s cubic-bezier(0.74, 0, 0, 1.01);
            transform: translate(-50%);

        }

    }

    &.slide-to-right{

        .my-slides-container{

            transition: .8s cubic-bezier(0.74, 0, 0, 1.01);
            transform: translate(0);

        }

    }

    &.my-slides-on-end{

        .my-slides-container{
            transform: translateX(-50%);
        }
    }
}