.neon-btn{
    background-color: transparent;
    border: none;
    width: 140px;
    height: 40px;
    position: relative;
    color: white;
    cursor: pointer;

    p{
        position: relative;
        z-index: 1;
    }

    svg{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        fill: #1c2220;
        transition: .1s linear;

        path{
            transition: .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

            &:first-child{
                transform: translate(20px, -10px);
            }

            &:nth-child(2){
                transform: translate(-20px, 10px);
            }
        }
    }

    &:hover{
        svg{
            filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 64px #00d3a5);
            fill: #020c09;
        }
        p{
            filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 32px #00d3a5);
        }
        path{
            &:first-child{
                transform: translate(0,0);
            }
            &:nth-child(2){
                transform: translate(0,0);
            }
        }
    }
}