.loader {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.loader .glow {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

.loader .glow span {
  position: absolute;
  height: 20%;
  width: 1px;
  background-color: #0f4a3e;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-filter: drop-shadow(0 0 16px #03ebb8) drop-shadow(0 0 32px #03ebb8) drop-shadow(0 0 32px #03ebb8) drop-shadow(0 0 45px #00ffc8) drop-shadow(0 0 45px #00ffc8);
          filter: drop-shadow(0 0 16px #03ebb8) drop-shadow(0 0 32px #03ebb8) drop-shadow(0 0 32px #03ebb8) drop-shadow(0 0 45px #00ffc8) drop-shadow(0 0 45px #00ffc8);
}

.loader .main-circle {
  width: 250px;
  height: 250px;
}

.loader .main-circle svg circle {
  fill: transparent;
  stroke: #0b1614;
  stroke-width: 1;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.loader .rotater {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}

.loader .rotater .dot {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: 1;
  -webkit-filter: drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 5px #03ebb8) drop-shadow(0 0 32px #03ebb8);
          filter: drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 5px #03ebb8) drop-shadow(0 0 32px #03ebb8);
  border-radius: 50%;
  background-color: #aef8e8;
}

.loader .rotater svg {
  -webkit-filter: drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 5px #03ebb8) drop-shadow(0 0 16px #03ebb8);
          filter: drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 1px #03ebb8) drop-shadow(0 0 5px #03ebb8) drop-shadow(0 0 16px #03ebb8);
}

.loader .rotater svg path {
  -webkit-transform: translate(26.258px, 27.006px);
          transform: translate(26.258px, 27.006px);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
            transform: translate(-50%, -50%) rotate(30deg);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) rotate(300deg);
            transform: translate(-50%, -50%) rotate(300deg);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(315deg);
            transform: translate(-50%, -50%) rotate(315deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
            transform: translate(-50%, -50%) rotate(30deg);
  }
  30% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  65% {
    -webkit-transform: translate(-50%, -50%) rotate(300deg);
            transform: translate(-50%, -50%) rotate(300deg);
  }
  70% {
    -webkit-transform: translate(-50%, -50%) rotate(315deg);
            transform: translate(-50%, -50%) rotate(315deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/*# sourceMappingURL=globals.loader.css.map */