.inf-loader {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.inf-loader-inner {
  width: 500px;
  height: 500px;
}

.inf-loader-inner #infinity {
  stroke-dasharray: 48;
  stroke-dashoffset: 0;
  -webkit-animation: inf infinite 4s linear;
          animation: inf infinite 4s linear;
  -webkit-filter: drop-shadow(0 0 1px #00ffff) drop-shadow(0 0 1px #00ffff) drop-shadow(0 0 2px #00ffff) drop-shadow(0 0 3px #00ffff) drop-shadow(0 0 5px #00ffff);
          filter: drop-shadow(0 0 1px #00ffff) drop-shadow(0 0 1px #00ffff) drop-shadow(0 0 2px #00ffff) drop-shadow(0 0 3px #00ffff) drop-shadow(0 0 5px #00ffff);
}

@-webkit-keyframes inf {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 96;
  }
}

@keyframes inf {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 96;
  }
}
/*# sourceMappingURL=globals.inf-loader.css.map */