.navbar {
  position: relative;
  z-index: 100;
  width: 100%;
  background: #0c1311;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #1a332c;
}

.navbar .logo p {
  font-family: 'Monoton', cursive;
  color: #b6e6d8;
  font-size: 25px;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 3px #00d3a5) drop-shadow(0 0 16px #03ebb8);
          filter: drop-shadow(0 0 3px #00d3a5) drop-shadow(0 0 16px #03ebb8);
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .logo p:hover {
  -webkit-filter: drop-shadow(0 0 3px #00d3a5) drop-shadow(0 0 16px #03ebb8) drop-shadow(0 0 16px #03ebb8);
          filter: drop-shadow(0 0 3px #00d3a5) drop-shadow(0 0 16px #03ebb8) drop-shadow(0 0 16px #03ebb8);
}

.navbar .navs ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navs ul li {
  position: relative;
  min-width: 120px;
  color: #556460;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
}

.navbar .navs ul li svg {
  position: absolute;
}

.navbar .navs ul li svg rect {
  opacity: 0;
  -webkit-transform: translate(18px, 18px);
          transform: translate(18px, 18px);
  stroke-dasharray: 50;
  stroke-dashoffset: 280;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.navbar .navs ul li:hover {
  color: #e1fff7;
  -webkit-filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 9px #00d3a5);
          filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 9px #00d3a5);
}

.navbar .navs ul li:hover svg rect {
  opacity: 1;
  stroke-dasharray: 75;
  stroke-dashoffset: 236;
}
/*# sourceMappingURL=globals.navbar.css.map */