@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
.neon-btn {
  background-color: transparent;
  border: none;
  width: 140px;
  height: 40px;
  position: relative;
  color: white;
  cursor: pointer;
}

.neon-btn p {
  position: relative;
  z-index: 1;
}

.neon-btn svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  fill: #1c2220;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.neon-btn svg path {
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.neon-btn svg path:first-child {
  -webkit-transform: translate(20px, -10px);
          transform: translate(20px, -10px);
}

.neon-btn svg path:nth-child(2) {
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px);
}

.neon-btn:hover svg {
  -webkit-filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 64px #00d3a5);
          filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 64px #00d3a5);
  fill: #020c09;
}

.neon-btn:hover p {
  -webkit-filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 32px #00d3a5);
          filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 32px #00d3a5);
}

.neon-btn:hover path:first-child {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.neon-btn:hover path:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

canvas {
  width: 720px !important;
  height: 450px !important;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0c1311;
  text-align: center;
  overflow: hidden;
}

.main .bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: .02;
}

.main .bg img {
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .login-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.main .login-container button {
  position: absolute;
  left: 50%;
  bottom: 105px;
  -webkit-transform: translateX(-50%) scale(0.7);
          transform: translateX(-50%) scale(0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.main .login-container button:hover {
  -webkit-transform: translateX(-50%) scale(0.7) translateY(30%);
          transform: translateX(-50%) scale(0.7) translateY(30%);
}

.main .login-container button:hover ~ svg #bottom-btn path:first-child {
  opacity: 1;
}

.main .login-container button:hover ~ svg #bottom-btn path:nth-child(2) {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.main .login-container button:hover ~ svg #bottom-btn path:last-child {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  stroke: #f7fffc;
  stroke-width: .5px;
  -webkit-filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
          filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
}

.main .login-container button:hover ~ svg #bottom-btn ~ #bottom-btn-side, .main .login-container button:hover ~ svg #bottom-btn ~ #left-part-side, .main .login-container button:hover ~ svg #bottom-btn ~ #right-part-side {
  stroke-width: .5px;
  -webkit-filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
          filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
}

.main .login-container button:hover ~ svg #bottom-btn ~ #left-part path:first-child {
  opacity: 1;
}

.main .login-container button:hover ~ svg #bottom-btn ~ #left-part path:nth-child(2) {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.main .login-container button:hover ~ svg #bottom-btn ~ #left-part path:last-child {
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
  stroke: #f7fffc;
  stroke-width: .5px;
  -webkit-filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
          filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
}

.main .login-container button:hover ~ svg #bottom-btn ~ #right-part path:first-child {
  opacity: 1;
}

.main .login-container button:hover ~ svg #bottom-btn ~ #right-part path:nth-child(2) {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.main .login-container button:hover ~ svg #bottom-btn ~ #right-part path:last-child {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  stroke: #f7fffc;
  stroke-width: .5px;
  -webkit-filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
          filter: drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 2px #00ffb7) drop-shadow(0px 0px 3px #00ffb7) drop-shadow(0px 0px 8px #00ffb7);
}

.main .login-container-inner {
  width: 500px;
  height: 500px;
}

.main .login-container #bottom-btn-side, .main .login-container #left-part-side, .main .login-container #right-part-side {
  -webkit-transition: .3s;
  transition: .3s;
  stroke-width: 0;
  stroke: #f7fffc;
}

.main .login-container #left-part-side, .main .login-container #right-part-side {
  -webkit-transition: .3s .3s;
  transition: .3s .3s;
}

.main .login-container #left-part path, .main .login-container #right-part path {
  -webkit-transition: .3s .3s;
  transition: .3s .3s;
}

.main .login-container #left-part path:first-child, .main .login-container #right-part path:first-child {
  stroke-width: 1px;
}

.main .login-container #left-part path:last-child, .main .login-container #right-part path:last-child {
  stroke: #171f1c;
  stroke-width: 1px;
}

.main .login-container #bottom-btn path {
  -webkit-transition: .3s;
  transition: .3s;
}

.main .login-container #bottom-btn path:first-child {
  stroke-width: 0;
}

.main .login-container #bottom-btn path:last-child {
  stroke: #171f1c;
  stroke-width: 1px;
}
/*# sourceMappingURL=home.index.css.map */