@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Glory', sans-serif;
  outline: none;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.main-container .sample-slides {
  border: 1px solid black;
  height: 350px;
  width: 350px;
  position: relative;
}

.main-container .sample-slides .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.main-container .modal-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 650px;
  background-color: #fafafa;
}

.main-container .modal-inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 12px;
  background-color: #0c813d;
}

.main-container .modal-inner-header i {
  color: white;
  cursor: pointer;
}

.main-container .modal-inner-content {
  min-height: 200px;
  position: relative;
  height: 0;
}

.main-container .modal-inner-content .modal-slide-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.main-container .modal-inner-content .modal-slide-item > * {
  margin: 10px 0;
}

.main-container .modal-inner-content .modal-slide-item .descriptor-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-container .modal-inner-content .modal-slide-item .descriptor-search input {
  width: 80%;
}

.main-container .modal-inner-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
  background-color: #dadada;
}

.main-container select, .main-container input {
  border: 1px solid #999999;
  padding: 8px 12px;
  font-size: 1.1em;
}

.main-container select {
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.main-container select:hover {
  background-color: #eeeeee;
}

.main-container select:active {
  background-color: #dddddd;
}

.main-container button {
  padding: 8px 12px;
  min-width: 80px;
  border: 1px solid #999999;
  cursor: pointer;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.main-container button:hover {
  background-color: #eeeeee;
}

.main-container button:active {
  background-color: #dddddd;
}

.main-container button.primary {
  background-color: #0c813d;
  border-color: #136b37;
  color: white;
}

.main-container button.primary:hover {
  background-color: #149248;
}

.main-container button.primary:active {
  background-color: #056d30;
}
/*# sourceMappingURL=mySlide.index.css.map */