my-slides {
  width: 100%;
  height: 100%;
}

my-slides .my-slides-viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

my-slides .my-slides-container {
  width: 200%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

my-slides .my-slides-slide {
  height: 100%;
  width: 50%;
}

my-slides.slide-to-left .my-slides-container {
  -webkit-transition: 0.8s cubic-bezier(0.74, 0, 0, 1.01);
  transition: 0.8s cubic-bezier(0.74, 0, 0, 1.01);
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

my-slides.slide-to-right .my-slides-container {
  -webkit-transition: 0.8s cubic-bezier(0.74, 0, 0, 1.01);
  transition: 0.8s cubic-bezier(0.74, 0, 0, 1.01);
  -webkit-transform: translate(0);
          transform: translate(0);
}

my-slides.my-slides-on-end .my-slides-container {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=mySlide.css.map */