.neon-btn {
  background-color: transparent;
  border: none;
  width: 140px;
  height: 40px;
  position: relative;
  color: white;
  cursor: pointer;
}

.neon-btn p {
  position: relative;
  z-index: 1;
}

.neon-btn svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  fill: #1c2220;
  -webkit-transition: .1s linear;
  transition: .1s linear;
}

.neon-btn svg path {
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.neon-btn svg path:first-child {
  -webkit-transform: translate(20px, -10px);
          transform: translate(20px, -10px);
}

.neon-btn svg path:nth-child(2) {
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px);
}

.neon-btn:hover svg {
  -webkit-filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 64px #00d3a5);
          filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 64px #00d3a5);
  fill: #020c09;
}

.neon-btn:hover p {
  -webkit-filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 32px #00d3a5);
          filter: drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 1px #00d3a5) drop-shadow(0 0 32px #00d3a5);
}

.neon-btn:hover path:first-child {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.neon-btn:hover path:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/*# sourceMappingURL=neon-ui.css.map */